<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @register.name %>
</p>


<p>
  <strong>Hospitalid:</strong>
  <%= @register.hospitalID %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @register.password %>
</p>


<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
